<nav id="mainNavbar" style="background-color: #ebc6c0;" class="navbar navbar-dark navbar-expand-md py-0 fixed-top">
    <a href="/" class="navbar-brand col-1 text-center">K-9JA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/" class="nav-link">HOME</a>
            </li>
            <li class="nav-item">
                <a href="/all" class="nav-link">ALL DOGS</a>
            </li>
            <li class="nav-item">
                <a href="/buy" class="nav-link">BUY</a>
            </li>
            <li class="nav-item">
                <a href="/contact" class="nav-link">CONTACT</a>
            </li>
        </ul>
    </div>
</nav>