<% layout('layouts/boilerplate')%>

<div class="card-group  my-5">
    <div class="card mx-5">
      <img class="card-img-top img-thumbnail" src="/imgs/email.jpeg" alt="Card image cap">
      <div class="card-body">
          <br>
        <h5 class="card-title">E-mail</h5>
        <p class="card-text">s.ikoli@yahoo.com</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/imgs/whatsapp.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Whatsapp</h5>
        <p class="card-text">+234 703-152-3145</p>
      </div>
    </div>
    <div class="card mx-5">
      <img class="card-img-top" src="/imgs/ig.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Instagram</h5>
        <p class="card-text"><a href="https://www.instagram.com/canecorso_9ja/" target="_blank">canecorso_9ja</a></p>  
      </div>
    </div>
</div>
